body {
	background-color: #FFFFFF;
}

table {
	border-spacing: 2px;
	border-color: gray;
}

th {
	background-color: rgb(240, 240, 240);
}

td, th {
	padding: 2px;
}

.left {
	text-align: left;
}
.right {
	 text-align: right;
 }